* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

:root {
    --color-main : #ffffffb7;
    --color-second :  #b173007c;
    --color-darker : #b46601;
    --color-text: #00212e;

    --prev-main-color: #64CCC5 ;
    --prev-second-color: #176B87;
    --prev-darker-color: #053B50;
    --prev-text-color: ;
    

    --color-main2: ;
    --color-second2:  ;
    --color-darker2: ;
}

.main {
    width: 100%;
    overflow: hidden;
    background: var(--color-main) ;
    min-height: calc(100vh + 70px);
}

.bottom {
    padding: 10px;
    text-align: center;
}

.bottom p {
    font-size: 14px;
}

.bottom span {
    font-size: 12px;
    font-weight: 800 ;
}

.header {
    color-scheme: dark;
    color: white;
    background: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.heading {
    width: calc(100% + 40px);
    height: 50px;
    background: var(--color-darker);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 20px;
    border: 3px solid black;
}

.sub-heading {
    width: calc(100% - 10px);
    height: 30px;
    background: var(--color-darker);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 3px solid black;
    margin: 0px 0 40px 0;
}

.subheading-space {
    margin: 40px 0 30px 0;
}

.heading p {
    font-size: 20px;
}

.navbar a{
    position: relative;
    text-decoration: none;
    color: white;
    margin: 0 10px 0 20px;
}

.navbar a:hover {
    text-shadow: white 0px 0px 10px;
}

.navbar a::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 8px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}

.navbar a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}


.main-container {
    position: relative;
    width: 100%;
    min-height: 50vh;
    background: var(--main-color);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information {
    color: rgb(255, 255, 255);
    width: 90%;
    height: 40px;
    background: black;
    margin: 20px 20px 40px 20px;
    border-radius: 25px;
    padding: 7px 0 0 0;
    text-align: center;
}

.logo {
    width: 30vh;
    height: 30vh;
    border: 5px solid var(--color-darker);
    margin: 0 20px 20px 20px ;
}


.items {
    width: 105%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: normal;
    column-gap: 25px;
    row-gap: 25px;
    background: transparent;
    margin: 0;
}

.cover {
    display: flex;
    justify-content: center;
}

.content{
    width: 150px;
    height: 180px;
    background: transparent;
    border: 2px solid var(--color-darker);
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2px;
    overflow: hidden;
}

.items2 {
    width: 105%;
    display: grid;
    grid-template-columns: auto auto;
    align-content: normal;
    column-gap: 40px;
    row-gap: 40px;
    background: transparent;
    margin: 0;
}

.items3 {
    width: 105%;
    display: grid;
    grid-template-columns: auto auto;
    align-content: normal;
    column-gap: 20px;
    row-gap: 20px;
    background: transparent;
    margin: 0;
}

.content2 {
    width: 145px;
    height: 220px;
    background: transparent;
    border: 2px solid var(--color-darker);
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2px;
    overflow: hidden;
}

.content3 {
    width: 130px;
    height: 150px;
    background: transparent;
    border: 2px solid var(--color-darker);
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2px;
    overflow: hidden;
}


.content2 label {
    font-size: 12px;
    background: var(--color-second);
    color: var(--color-text);
    border: 2px solid var(--color-darker);
    border-radius: 4px;
    padding: 2px;
    position: relative;
    top: -10px;
    text-align: center;
}

.content2 span {
    font-size: 14px;
}

.content2 img {
    position: relative;
    top: -5px;
    width: 80%;
    height: 137px;
    border-radius: 15px ;
    margin: 5px;
}


.input-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-btn input {
    width: 25px;
    background: var(--color-second);
    border: 1px solid black;
    border-right: none;
    text-align: center;
    border-radius: 3px 0 0 3px;
}

.input-btn button {
    height: 20px;
    font-size: 14px;
    border: 1px solid black;
    background: var(--color-second);
    padding: 2px;
    border-radius:  0 3px 3px 0;
}

.input-btn2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0 0 0;
}

.input-btn2 input {
    position: relative;
    left: 7px;
    width: 25px;
    background: var(--color-second);
    border: 1px solid black;
    border-right: none;
    text-align: center;
    border-radius: 3px 0 0 3px;
}

.input-btn2 button {
    position: relative;
    right: 7px;
    height: 20px;
    font-size: 14px;
    border: 1px solid black;
    background: var(--color-second);
    padding: 2px;
    border-radius:  0 3px 3px 0;
}

.content button {
    font-size: 12px;
    position: relative;
    bottom: -10px;
    background: var(--color-second);
    border: 1px solid black;
    color: white;
    padding: 2px;
    border-radius: 5px;
}

.content button a {
    text-decoration: none;
    font-size: 12px;
    color: white;

}

.content label {
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    position: relative;
    top: -10px;
}

.content img {
    width: calc(50%) ;
    height: calc(40%);
    background-color: transparent;
}

#boxes-lbl {
    position: relative;
    top: -5px;
}

#boxes-img {
    position: relative;
    top: -10px;
}

#boxes-btn {
    position: relative;
    top: -5px;
}

.emph {
    font-weight: 800;
}

.color1 {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.color1-small img{
    width: 50%;
}


.color1 p {
    position: absolute;
    font-size: 16px;
    text-wrap: wrap ;
    left: 5px;
    top: 40px;
    z-index: 1;
}

.color1 img {
    width: 300%;
    position: absolute;
    top: -50%;
    left: -100%;
    z-index: 0;
}


.color2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color2 img {
    position: relative;
    top: -5px;
    width: 110%;
}

@media (min-width: 1440px) {
    .items2 {
        width: 105%;
        display: grid;
        grid-template-columns: auto auto auto;
        align-content: normal;
        column-gap: 40px;
        row-gap: 40px;
        background: transparent;
        margin: 0;
    }

    .content2 {
        width: 185px;
        height: 260px;
        background: transparent;
        border: 2px solid var(--color-darker);
        border-radius: 15px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding:0;
        overflow: hidden;
    }

    .content2 label {
        font-size: 12px;
        background: var(--color-second);
        color: var(--color-darker);
        border: 2px solid black;
        border-radius: 4px;
        padding: 2px;
        position: relative;
        top: -30px;
    }
}
 
@media (min-width: 1024px) {
    .items2 {
        width: 105%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-content: normal;
        column-gap: 40px;
        row-gap: 40px;
        background: transparent;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .items2 {
        width: 105%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-content: normal;
        column-gap: 40px;
        row-gap: 40px;
        background: transparent;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .items2 {
        width: 105%;
        display: grid;
        grid-template-columns: auto auto auto;
        align-content: normal;
        column-gap: 40px;
        row-gap: 40px;
        background: transparent;
        margin: 0;
    }
}

@media (max-width: 540px) {
    .items2 {
        width: 105%;
        display: grid;
        grid-template-columns: auto auto;
        align-content: normal;
        column-gap: 40px;
        row-gap: 40px;
        background: transparent;
        margin: 0;
    }
}

@media (max-width: 507px) {
    .content{
        width: 100px;
        height: 100px;
        background: transparent;
        border: 2px solid var(--color-darker);
        border-radius: 15px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 2px;
        overflow: hidden;
    }

    .content label {
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        position: relative;
        top: -10px;
    }

    .content button {
        font-size: 10px;
        position: relative;
        bottom: -5px;
        background: var(--color-second);
        border: 1px solid black;
        color: white;
        padding: 2px;
        border-radius: 5px;
    }

    .items2 {
        width: 105%;
        display: grid;
        grid-template-columns: auto auto;
        align-content: normal;
        column-gap: 40px;
        row-gap: 40px;
        background: transparent;
        margin: 0;
    }
    
}

@media (max-width: 380px) {
    .content{
        width: 90px;
        height: 90px;
        background: transparent;
        border: 2px solid var(--color-darker);
        border-radius: 15px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 2px;
        overflow: hidden;
    }

    .items {
        width: 115%;
        display: grid;
        grid-template-columns: auto auto auto;
        align-content: normal;
        column-gap: 25px;
        row-gap: 25px;
        background: transparent;
        margin: 0;
    }

    .items2 {
        width: 105%;
        display: grid;
        grid-template-columns: auto auto;
        align-content: normal;
        column-gap: 40px;
        row-gap: 40px;
        background: transparent;
        margin: 0;
    }
    
}

@media (max-width: 375px) {
    .items {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        align-content: normal;
        column-gap: 25px;
        row-gap: 25px;
        background: transparent;
        margin: 0;
    }

    .items2 {
        width: 105%;
        display: grid;
        grid-template-columns: auto auto;
        align-content: normal;
        column-gap: 40px;
        row-gap: 40px;
        background: transparent;
        margin: 0;
    }
    
}

@media (max-width: 340px) {
    .items {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        align-content: normal;
        column-gap: 15px;
        row-gap: 15px;
        background: transparent;
        margin: 0;
    }  

    .items2 {
        width: 105%;
        display: grid;
        grid-template-columns: auto auto;
        align-content: normal;
        column-gap: 20px;
        row-gap: 20px;
        background: transparent;
        margin: 0;
    }
}

.hidden {
    opacity: 0;
    z-index: 2;
}

.white {
    color: white;
    font-weight: 600;
}

.black {
    color: black;
    font-weight: 600;
}